div.row-fluid
	for note in notes
		div.well.span3
			h4 #{note.title}
			blockquote
				p #{note.text}
				small ID: 
					cite #{note.id}
			button.edit_note.btn(style="margin-right:10px;", note-id="#{note.id}") 
				i.icon-pencil
				|  Edit
			button.delete_note.btn.btn-danger(note-id="#{note.id}")
				i.icon-remove.icon-white
				|  Delete
	else
		h4 You have not created any notes. Click on New Note to create one now.